<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 알림 권한(API 33 부터 도입) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 포그라운드 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 기지국 위치 및 와이파이 접속 장소 이용하여 대략적인 위치정보 접근 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 기기의 정확한 위치정보 접근 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 런타임 시 백그라운드 위치 정보 액세스 권한 요청 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 구글맵 API KEY -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDM7Sdg8Od8BHodbZpWTbVcqur0b1kPNI4" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TestGpsApp"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="33">
        <service
            android:name=".GpsService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:process=":gpsService" />

        <activity
            android:name=".ui.SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.TestGPSApp.Fullscreen" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TestGPSApp.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" />
    </application>

</manifest>